@font-face {
  font-family: Homemade Apple;
  src: 
  url(./HomemadeApple-Regular.ttf) format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Gilroy;
  src: 
  url(./Gilroy-Regular.woff2) format('woff2'),
  url(./Gilroy-Regular.woff) format('woff'),
  url(./Gilroy-Regular.ttf) format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: Gilroy;
  src: 
  url(./Gilroy-Bold.woff2) format('woff2'),
  url(./Gilroy-Bold.woff) format('woff'),
  url(./Gilroy-Bold.ttf) format('truetype');
  font-weight: 700;
  font-display: swap;
}